<html>
<head>
    <meta charset="UTF-8">
    <style>
        h1 { background-color: lightpink; }
        p { text-decoration: underline;}
        div {
            background-color: aquamarine;
        }
        .word {
            background-color: orange;
            font-style: italic;
        }
    </style>
</head>
<body>
    <h1>Html을 설명하는 단락</h1>
    <p>
        <span class="word">span요소</span>는 텍스트(text)의 특정 부분을 묶는 데 자주 사용되는 <span class="word">inline element</span>
        입니다.
    </p>
    <div><p>div 요소는 다른 HTML 요소들을 하나로 묶는 데 자주 사용되는 대표적인 block element입니다.</p></div>
</body>
</html>